<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.project1.servlets.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.project1.servlets.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawalServlet</display-name>
    <servlet-name>WithdrawalServlet</servlet-name>
    <servlet-class>com.project1.servlets.WithdrawalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawalServlet</servlet-name>
    <url-pattern>/Withdrawal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.project1.servlets.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>com.project1.servlets.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingAccountsServlet</display-name>
    <servlet-name>ViewPendingAccountsServlet</servlet-name>
    <servlet-class>com.project1.servlets.ViewPendingAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingAccountsServlet</servlet-name>
    <url-pattern>/ViewPendingAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveAccountServlet</display-name>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <servlet-class>com.project1.servlets.ApproveAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <url-pattern>/ApproveAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectAccountServlet</display-name>
    <servlet-name>RejectAccountServlet</servlet-name>
    <servlet-class>com.project1.servlets.RejectAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectAccountServlet</servlet-name>
    <url-pattern>/RejectAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeViewAccountsServlet</display-name>
    <servlet-name>EmployeeViewAccountsServlet</servlet-name>
    <servlet-class>com.project1.servlets.EmployeeViewAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewAccountsServlet</servlet-name>
    <url-pattern>/EmployeeViewAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveEmployeeServlet</display-name>
    <servlet-name>ApproveEmployeeServlet</servlet-name>
    <servlet-class>com.project1.servlets.ApproveEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveEmployeeServlet</servlet-name>
    <url-pattern>/ApproveEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTransactionServlet</display-name>
    <servlet-name>ListTransactionServlet</servlet-name>
    <servlet-class>com.project1.servlets.ListTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTransactionServlet</servlet-name>
    <url-pattern>/ListTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>RegisterServlet</display-name>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.project1.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.project1.servlets.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccountsServlet</display-name>
    <servlet-name>ViewAccountsServlet</servlet-name>
    <servlet-class>com.project1.servlets.ViewAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountsServlet</servlet-name>
    <url-pattern>/ViewAccounts</url-pattern>
  </servlet-mapping>
</web-app>